<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="workerCount" value="1000"/>
    <add key="threadCount" value="8"/>
    <add key="sleepTime" value="1000"/>
    <add key="serverAddress" value="192.168.3.89"/>
    <add key="serverPort" value="9000"/>
  </appSettings>
</configuration>
